<p>checkout works!</p>
<!-- if not sign in -->
<button class="btn">
    <a routerLinkActive="active" class="nav-link active" href="/login" >btn</a>
</button>

<h3>step 1</h3>
<div class="container">
    <form >

        <br>
         <div class="form-group">
            <label>Full Name :</label>
            <input [class.is-invalid]="userName?.invalid && userName?.touched" formControlName="userName" type="text" class="form-control">
            <div *ngIf="userName?.invalid && userName?.touched">
                <small class="text-danger" *ngIf="userName?.errors?.['required']">User Name is required</small>
                <small class="text-danger" *ngIf="userName?.errors?.['pattern']">username must  contains only capital or small characters.</small>
            </div>
        </div>

        <div class="form-group">
            <label>Email :</label>
            <input type="email" [class.is-invalid]="email?.invalid && email?.touched" formControlName="email" class="form-control">
            <div *ngIf="email?.invalid && email?.touched">
                <small class="text-danger" *ngIf="email?.errors?.['required']" >Email is required</small>
                <small class="text-danger" *ngIf="email?.errors?.['pattern']">email must  be in format (aaa@bb.com)</small>
            </div>
        </div>
          
        <br>
          <div class="form-group">
            <label>where you hear about us as </label>
            <select class="custom-select" [class.is-invalid]="socialApp?.invalid && socialApp?.touched" formControlName="socialApp">
                <option *ngFor="let app of Apps">
                    {{app}}
                </option>
            </select>
            <small class="text-danger" *ngIf="socialApp?.invalid && socialApp?.touched" >it is required</small>
         </div>

        <br>
         <input type="submit"[class]="registerationForm.valid ? 'btn btn-success': 'btn btn-danger'"
          value="Register">
         
    </form>
    <br>
</div>