
<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-product></app-product>
<app-product-list></app-product-list> -->

<style>
.navbar a{
    padding-left: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
}
.navbar{
    justify-content: center;
}
</style>

<!-- <nav class="navbar navbar-light bg-warning"style="justify-content: center;">
    <a routerLink="products/product">product</a>
    &nbsp;
    <a routerLink="products/product-list">product-list</a>
</nav> -->
  

<app-header></app-header>
<router-outlet></router-outlet>

<app-footer></app-footer> 

<!-- <app-register></app-register> -->
<!-- <app-header></app-header> -->
<!-- <router-outlet></router-outlet> -->

