<!-- if not sign in -->
<button class="btn" (click)="goToLogin()">
    check-out
    <!-- <a routerLinkActive="active" class="nav-link active" href="/auth/login" >btn</a> -->
</button>

<div class="container">

<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-xl-8 ">
            <h6>1-Choose a shipping address</h6>
            </div>
            <div class="card col-lg-6 col-xl-8 " style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <form [formGroup]="userDataForm">
                            <div class="form-group">
                                <label>Full Name :</label>
                                <input [class.is-invalid]="userName?.invalid && userName?.touched"
                                    formControlName="userName" type="text" class="form-control">
                                <div *ngIf="userName?.invalid && userName?.touched">
                                    <small class="text-danger" *ngIf="userName?.errors?.['required']">User Name is
                                        required</small>
                                    <small class="text-danger" *ngIf="userName?.errors?.['pattern']">username must
                                        contains only capital or small characters.</small>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>City/Area </label>
                                <select class="custom-select" [class.is-invalid]="city?.invalid && city?.touched"
                                    formControlName="city">
                                    <option *ngFor="let city of cities">
                                        {{city}}
                                    </option>
                                </select>
                                <small class="text-danger" *ngIf="city?.invalid && city?.touched">it is
                                    required</small>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Street name :</label>
                                <input type="text" [class.is-invalid]="Street?.invalid && Street?.touched"
                                    formControlName="Street" class="form-control">
                                <div *ngIf="Street?.invalid && Street?.touched">
                                    <small class="text-danger" *ngIf="Street?.errors?.['required']">it is
                                        required</small>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Building no :</label>
                                <input type="number" [class.is-invalid]="Building?.invalid && Building?.touched"
                                    formControlName="Building" class="form-control">
                                <div *ngIf="Building?.invalid && Building?.touched">
                                    <small class="text-danger" *ngIf="Building?.errors?.['required']">it is
                                        required</small>
                                </div>
                            </div>
                            <br>
                            <input type="submit" [class]="userDataForm.valid ? 'btn btn-success': 'btn btn-danger'"
                                value="Add adress" (click)="goToStep2()">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!-- 2 -->
<div *ngIf="true">
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-6 col-xl-8 ">
                    <h6>2-payment method</h6>
                    </div>
                <div class="card col-lg-6 col-xl-8" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <fieldset>
                                <legend>Choose a payment method</legend>
                                <div>
                                    <input (change)="onChange($event)" type="radio" id="cridet" name="payment" value="cridet">
                                    <label for="payment" >Your credit and debit cards
                                    </label>
                                </div>

                                <div>
                                    <input (change)="onChange($event)" type="radio" id="cod" name="payment" value="cod">
                                    <label for="cod" >Cash on Delivery</label>
                                </div>
                                <br>
                                    <div *ngIf="cridet" class="card col-lg-6 col-xl-8 " style="border-radius: 25px;">
                                        <div  class="card-body p-md-5">
                                        <div class="row justify-content-center">
                                            <form [formGroup]="userDataForm">
                                                <div class="form-group">
                                                    <label class="m-2">card number :</label>
                                                    <input type="number" [class.is-invalid]="Building?.invalid && Building?.touched"
                                                        formControlName="Building">
                                                    <div *ngIf="Building?.invalid && Building?.touched">
                                                        <small class="text-danger" *ngIf="Building?.errors?.['required']">it is
                                                            required</small>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <label>Name on Card : </label>
                                                    <input [class.is-invalid]="userName?.invalid && userName?.touched"
                                                        formControlName="userName" type="text">
                                                    <div *ngIf="userName?.invalid && userName?.touched">
                                                        <small class="text-danger" *ngIf="userName?.errors?.['required']">User Name is
                                                            required</small>
                                                        <small class="text-danger" *ngIf="userName?.errors?.['pattern']">username must
                                                            contains only capital or small characters.</small>
                                                    </div>
                                                </div>
                                                <br>
                                                <input type="submit" [class]="userDataForm.valid ? 'btn btn-success': 'btn btn-light'"
                                                    value="cancel" (click)="closeForm()">
                                                <input type="submit" [class]="userDataForm.valid ? 'btn btn-success': 'btn btn-danger'"
                                                    value="Add adress" (click)="goToStep2()" class="m-2">    
                                            </form>
                                        </div>
      
                                    </div>    
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<br>
<!-- 3 -->

<div *ngIf="true">
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-lg-6 col-xl-8">
                    <h6>3-confirm your order</h6>
                    </div>
                <div class="card col-lg-6 col-xl-8 " style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                            <h6>
                                Order total:
                            </h6>
                            <input type="button" class="btn btn-success m-2" value="confirm" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</div>

<br>