<h1 style="background-color: yellow; color:rgb(0, 0, 0);text-align: center;">your cart is {{getcartarr.length}} product</h1>
<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Number</th>


        <th scope="col">image</th>
        <th scope="col">total </th>
        <th scope="col">price</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getcartarr , index as i" >
        <td> {{i+1}} </td>
        
     <td> <div> <input  (change)="getcardetails ()" [(ngModel)]="amount"  type="number"></div> </td> 
        <td><img style="height: 70px;" [src]="item.thumbnail"></td>
        <td [(ngModel)]="total" > {{item.price*amount}} </td>
        <td>{{item.price +"  L E"}} </td>
        <td> </td>

        <td class="btn" style="background-color: red;" (click)="deleteproduct(i)">Delete </td>

    </tr>
<h1>total price: {{totalnumber}} L E</h1>
<button class="btn btn-primary" (click)="clearproduct()">delete all</button>

    </tbody>
  </table>
